In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [7]:
url = 'https://www.bls.gov/news.release/laus.t01.htm'
tables = pd.read_html(url)

In [3]:
unemployment_df = tables[0].iloc[:-2,[0,9]]
unemployment_df.columns = ['state','unempl_June_18']
unemployment_df

                                      state unempl_June_18
0                                   Alabama            4.1
1                                    Alaska            6.6
2                                   Arizona            4.7
3                                  Arkansas            3.7
4                                California            4.2
5        Los Angeles-Long Beach-Glendale(1)            4.6
6                                  Colorado            3.2
7                               Connecticut            4.1
8                                  Delaware            3.8
9                      District of Columbia            5.6
10                                  Florida            3.6
11             Miami-Miami Beach-Kendall(1)            3.7
12                                  Georgia            3.9
13                                   Hawaii            2.4
14                                    Idaho            2.8
15                                 Illinois            4.3
16  Chicago-Naperville-Arlington Heights(1)            3.8
17                                  Indiana            3.5
18                                     Iowa            2.5
19                                   Kansas            3.3
20                                 Kentucky            4.4
21                                Louisiana            5.0
22                                    Maine            3.4
23                                 Maryland            4.0
24                            Massachusetts            3.4
25                                 Michigan            4.0
26               Detroit-Warren-Dearborn(2)            4.0
27                                Minnesota            2.8
28                              Mississippi            4.7
29                                 Missouri            3.1
30                                  Montana            3.7
31                                 Nebraska            2.8
32                                   Nevada            4.5
33                            New Hampshire            2.6
34                               New Jersey            4.1
35                               New Mexico            4.8
36                                 New York            4.1
37                            New York City            4.1
38                           North Carolina            3.9
39                             North Dakota            2.6
40                                     Ohio            4.6
41                      Cleveland-Elyria(2)            5.1
42                                 Oklahoma            3.3
43                                   Oregon            4.0
44                             Pennsylvania            4.2
45                             Rhode Island            4.0
46                           South Carolina            3.3
47                             South Dakota            3.0
48                                Tennessee            3.6
49                                    Texas            3.8
50                                     Utah            3.1
51                                  Vermont            2.7
52                                 Virginia            3.0
53                               Washington            4.4
54              Seattle-Bellevue-Everett(1)            3.4
55                            West Virginia            5.2
56                                Wisconsin            3.1
57                                  Wyoming            4.1
58                              Puerto Rico            9.1

In [4]:
# Mohamed is doing this
# url = 'https://en.wikipedia.org/wiki/List_of_U.S._state_abbreviations'
# table = pd.read_html(url)
# zip_df = table[0].iloc[:,[0,3]]
# zip_df.columns = ['state','abbr']
# zip_df = zip_df.dropna()
# df = pd.merge(unemployment_df,zip_df,how ='inner',on='state')

In [5]:
engine = create_engine('postgresql://postgres:Douglas11@localhost/etl_project')
conn = engine.connect()

In [6]:
unemployment_df.to_sql('unemployment', con=engine,if_exists='replace',index=False)