# Scraping with Pandas

In [1]:
import pandas as pd
from cm_password import username,password

In [2]:
GDP_State_2018 = 'https://en.wikipedia.org/wiki/List_of_U.S._states_by_GDP_per_capita'
State_Abreviation = 'http://www.softschools.com/social_studies/state_abbreviations/'
#State_Abreviation = 'https://en.wikipedia.org/wiki/List_of_U.S._state_abbreviations'

In [3]:
GDP = pd.read_html(GDP_State_2018)
State_Abreviation = pd.read_html(State_Abreviation)
#GDP[0].head(5)

In [4]:
df = State_Abreviation[2]
df.head(5)

        State Abbreviation
0     ALABAMA           AL
1      ALASKA           AK
2     ARIZONA           AZ
3    ARKANSAS           AR
4  CALIFORNIA           CA

We can slice off any of those dataframes that we want using normal indexing.

In [5]:
GDP = pd.read_html(GDP_State_2018)
GDP=pd.DataFrame(GDP[0])
GDP=GDP[['State', '2018']]
GDP

                   State    2018
0   District of Columbia  160472
1          Massachusetts   65545
2               New York   64579
3            Connecticut   64511
4                 Alaska   63971
5               Delaware   63664
6           North Dakota   62837
7                Wyoming   58821
8             New Jersey   57084
9             Washington   56831
10              Maryland   55404
11              Illinois   54091
12            California   53987
13                 Texas   53795
14             Minnesota   53704
15              Nebraska   53114
16              Colorado   52795
17         New Hampshire   51794
18              Virginia   51736
19                Hawaii   51277
20          Pennsylvania   50997
21                Oregon   50582
22         United States   50577
23                  Iowa   50315
24          South Dakota   48076
25          Rhode Island   47639
26                  Ohio   47567
27             Wisconsin   47266
28                Kansas   46982
29               Indiana   45317
30               Georgia   44723
31                  Utah   44636
32              Oklahoma   44623
33        North Carolina   44325
34               Vermont   43946
35             Louisiana   43917
36                Nevada   43820
37              Michigan   43372
38              Missouri   43317
39             Tennessee   43267
40            New Mexico   41348
41               Florida   39543
42               Montana   39356
43              Kentucky   38985
44                 Maine   38921
45               Arizona   38590
46               Alabama   37261
47        South Carolina   37063
48              Arkansas   36368
49         West Virginia   36315
50                 Idaho   35466
51           Mississippi   31881

In [6]:
from sqlalchemy import create_engine

In [7]:
engine = create_engine(f'postgresql://{username}:{password}@localhost:5432/etl_project')

In [9]:
GDP.to_sql('GDP', con=engine,if_exists='replace',index=False)

In [10]:
df.to_sql('State_Abreviation', con=engine,if_exists='replace',index=False)