# Scraping with Pandas

In [1]:
import pandas as pd

In [2]:
GDP_State_2018 = 'https://en.wikipedia.org/wiki/List_of_U.S._states_by_GDP_per_capita'
State_Abreviation = 'https://en.wikipedia.org/wiki/List_of_U.S._state_abbreviations'

In [3]:
GDP = pd.read_html(GDP_State_2018)
State_Abreviation = pd.read_html(State_Abreviation)
#GDP[0].head(5)

In [4]:
#df=GDP[1:2]
St_Ab=pd.DataFrame(State_Abreviation[2])
df=St_Ab.transpose()
df=df.drop(['Unnamed: 0'])
df.columns = ['Abreviation','Remove']
df=df[['Abreviation']]
df = df.rename_axis('State')
df

                Abreviation
State
California               CA
Colorado                 CO
Delaware                 DE
Hawaii                   HI
Kansas                   KS
Michigan                 MI
Mississippi              MS
Massachusetts            MA
Nebraska                 NE
Washington               WA
Wisconsin                WI
Mariana Islands          MP

We can slice off any of those dataframes that we want using normal indexing.

In [5]:
GDP = pd.read_html(GDP_State_2018)
GDP=pd.DataFrame(GDP[0])
GDP=GDP[['State', '2018']]
GDP.head(5)

                  State    2018
0  District of Columbia  160472
1         Massachusetts   65545
2              New York   64579
3           Connecticut   64511
4                Alaska   63971

In [11]:
GDP.columns

Index(['State', '2018'], dtype='object')

In [12]:
df.columns

Index(['Abreviatio'], dtype='object')

In [13]:
type(df)

pandas.core.frame.DataFrame

In [14]:
St_Ab

,Unnamed: 0,California,Colorado,Delaware,Hawaii,Kansas,Michigan,Mississippi,Massachusetts,Nebraska,Washington,Wisconsin,Mariana Islands
0,USPS,CA,CO,DE,HI,KS,MI,MS,MA,NE,WA,WI,MP
1,USCG,CF,CL,DL,HA,KA,MC,MI,MS,NB,WN,WS,CM

In [6]:
ss=St_Ab.transpose()

In [7]:
ss

                    0     1
Unnamed: 0       USPS  USCG
California         CA    CF
Colorado           CO    CL
Delaware           DE    DL
Hawaii             HI    HA
Kansas             KS    KA
Michigan           MI    MC
Mississippi        MS    MI
Massachusetts      MA    MS
Nebraska           NE    NB
Washington         WA    WN
Wisconsin          WI    WS
Mariana Islands    MP    CM

In [8]:
from sqlalchemy import create_engine

In [9]:

engine = create_engine('postgresql://postgres:postgres@localhost/GDP')
conn = engine.connect()

In [10]:
GDP.to_sql('GDP', con=engine,if_exists='replace',index=False)

In [11]:
df.to_sql('State_Abreviation', con=engine,if_exists='replace')