# Scraping with Pandas

In [1]:
import pandas as pd

In [2]:
GDP_State_2018 = 'https://en.wikipedia.org/wiki/List_of_U.S._states_by_GDP_per_capita'
State_Abreviation = 'http://www.softschools.com/social_studies/state_abbreviations/'
#State_Abreviation = 'https://en.wikipedia.org/wiki/List_of_U.S._state_abbreviations'

In [3]:
GDP = pd.read_html(GDP_State_2018)
State_Abreviation = pd.read_html(State_Abreviation)
#GDP[0].head(5)

In [6]:
df = State_Abreviation[2]
df.head(5)

        State Abbreviation
0     ALABAMA           AL
1      ALASKA           AK
2     ARIZONA           AZ
3    ARKANSAS           AR
4  CALIFORNIA           CA

We can slice off any of those dataframes that we want using normal indexing.

In [8]:
GDP = pd.read_html(GDP_State_2018)
GDP=pd.DataFrame(GDP[0])
GDP=GDP[['State', '2018']]
GDP.head(5)

                  State    2018
0  District of Columbia  160472
1         Massachusetts   65545
2              New York   64579
3           Connecticut   64511
4                Alaska   63971

In [9]:
from sqlalchemy import create_engine

In [9]:

engine = create_engine('postgresql://postgres:postgres@localhost/GDP')
conn = engine.connect()

In [10]:
GDP.to_sql('GDP', con=engine,if_exists='replace',index=False)

In [11]:
df.to_sql('State_Abreviation', con=engine,if_exists='replace',index=False)